@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* mexendo na nav */
nav {
    height: 80px; /* definindo altura da navbar */
    background: red; /* cor da navbar */
    display: flex; /* logo e menu - lado a lado */
}

/* mexendo na lista toda */
nav ul {
    display: flex; /* elementos do menu - lado a lado */
    list-style: none; /* remove as bolinhas dos itens da lista/menu */
}


